<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <h2 class="gap">Register your category</h2>

    <form action="" method="post" class="">
        <input class="form-control gap" type="text" name="title" id="" placeholder="Define category name">
        <button class="btn btn-primary gap-text">Register</button>
    </form>
</div>


<%- include('../../partials/footer.ejs') %>